.THIS .changeEmail-btn {
    cursor: pointer;
    margin-top: 13px;
    background-color: rgb(37, 116, 169);
    border-radius: 0px;
    font-size: 14px;
    font-weight: 500;
    font-family: sans-serif,tahoma;
    color: #fff;
}

.THIS  .changeEmail-btn :hover {
    background-color:white;
    border-color:rgb(37, 116, 169);
    color:rgb(37, 116, 169);
    cursor:pointer;
}


.THIS .fields-div {
	padding: 10px 50px 15px 50px;
}
.THIS .alignField
{
    padding: 2px; 
   
}


.THIS abbr[title] {
     cursor: none; 
}

.THIS abbr[data-original-title], .THIS abbr[title] {
    text-decoration: none;
}
.THIS .inputField-r
{
 	padding-bottom: 8px;
     
}

.THIS .txt{
    font-size: 14px;
}

@media screen and (min-width:280px) and (max-width: 1024px) 
{
.THIS .fields-div 
{
	padding:10px 15px 13px 15px;
}

}