.THIS {
    background-color: #fff;
}

.THIS a {
    color: black;
    text-decoration: none;
}

.THIS a:hover {
    color: black;
    text-decoration: none;
}

.THIS .alignment {
    margin-bottom: 20px;
}

.THIS .m-box {
    margin: 30px 35px;
    border: 0px;
}

.THIS .panel-head {
    background-color: #343a40;
    padding: 12px;
}

.THIS .mainHeading {
    color: #fff;
    margin-bottom: 0px !important;
    text-align: center;
}

.THIS .m-Border {
    border: 2px solid rgb(37, 116, 169);
    margin-bottom: 20px;
}

.THIS .subHeading {
    font-size: 16px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
    color: #41444c;

}

.THIS .paragraph {
    text-align: justify;
}

.THIS .spacing {
    padding-bottom: 20px;

}

.THIS .mBox {

    border: none;
}

.THIS .mBox:hover {
    background-color: #F0F0F0;
    border-radius: 0px;
}


@media screen and (min-width:280px) and (max-width: 767px) {
    .THIS .m-box {
        margin: 10px 0px 0px 0px;
        border: 0px;
    }

    .THIS .mainHeading {
        font-size: 16px;
    }

    .THIS p {
        font-size: 14px;
    }

    .THIS .slds-box {
        padding: 5px;
    }

    .THIS .spacing {
        padding-bottom: 0px;

    }

    .THIS .d-s {
        margin-bottom: 20px;

    }
}

/*ipad devices */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .THIS .m-box {
        margin: 10px 10px;
        border: 0px;
    }

    .THIS .mainHeading {
        font-size: 18px;
    }

    .THIS p {
        font-size: 14px;
    }
}