.THIS .mpI
{
    padding-bottom:20px !important;
}

.THIS p 
{
    margin-top: 0px;
    margin-bottom: 0px;
}

.THIS .m-box
{
    margin-top: 3%;
    margin-bottom: 10%;
}


.THIS .align-content
{
    margin:30px 40px 30px 40px;
}
 

.THIS .btn-div
{
    margin-top: 6%;
}

.THIS .resetButton
{  
	
    font-size: 16px;
    font-weight: 500;
    font-family: sans-serif,tahoma;
    color:White;
    cursor: pointer;
    background-color: rgb(37, 116, 169);
    border-radius: 0px;
    border: 1px solid rgb(37, 116, 169);
}


.THIS  .resetButton:hover 
{
    background-color:white;
    border-color:rgb(37, 116, 169);
    color:rgb(37, 116, 169);
    cursor:pointer;
}


.THIS .inputField
{
  background-color: white;
  border-radius: 2px;
  font-size: 16px;
     
}

.THIS ::placeholder 
{
    color: #e6dbdb;
    font-family: sans-serif,tahoma;
}

.THIS .pM
{
    margin-bottom: .7rem;
}

.THIS .textFont 
{
    font-size:16px;
    font-family: sans-serif;
}
    

.THIS .mainHeading 
{
    margin-top: 4%;
    font-size:26px;
    font-weight:600;
    font-family: sans-serif;
}


@media screen and (min-width:280px) and (max-width: 767px) {
  .THIS .resetButton
{  
	
    font-size: 13px;
    
}


.THIS .cancelButton
{  
     font-size: 13px;
    }


    .THIS .btn-div
{
    margin-top: 30px;
}
    
   .THIS .align-content {
    margin: 30px 20px 30px 20px;
}
    
    .THIS  .mainHeading {
   
     margin-top: 20px;
     font-size: 20px;    
}
    .THIS .align-s-content
{
    margin:30px 20px 30px 20px;
} 
    .THIS .textFont 
{
    font-size:14px;
}

    .THIS  .msgTextFont {
    text-align: left;
    font-size: 14px;
    }
    
.THIS .inputField
{

  font-size: 14px;
     
}
}

/*only ipad pro */
@media screen and (min-width: 1024px) and (max-width: 1025px) and (orientation: portrait)
{ 
   
    
.THIS .mainHeading 
{
    margin-top: 60px;
    font-size:26px;
    font-weight:600;
    font-family: sans-serif;
}
    
    .THIS .m-box
{
    margin-top: 3%;
    margin-bottom: 0px;
}
}